a {
  color: white;
}
input {
  background-color: darkgrey;
  margin: 50px;
  box-shadow: 4px 4px 6px;
}
button {
  box-shadow: 3px 3px 6px black;
}
body {
  background-color: darkslategrey;
}

#ran {
  margin-top: 10%;
  background-color: grey;
}

well {
  margin: 30px, 30px, 30px, 30px;
}

#box {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border: 30px, 30px, 30px, 30px;
  border-radius: 8px;
  background-color: darkgrey;
  box-shadow: 8px 8px 6px;
}

footer {
  margin-top: 30%;
}